@tailwind base;
@tailwind components;
@tailwind utilities;

.input-slider {
  place-self: center;
  border-radius: 100vh;
  width: 100%;
  height: 3px;
  background-color: #e9eaee;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.input-slider::-webkit-slider-thumb {
  background-color: blue;
  border: 4px solid white;
  outline: 2px solid blue;
  border-radius: 50%;
  width: 28px;
  aspect-ratio: 1;
  -webkit-appearance: none;
  appearance: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
